# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
.eslintcache

# Logs
*.log

# OS files
.DS_Store
